.panel {
	background-color: #ECF0EE; 
}
p {
	font-family: optima;
	color: #0B091E;
	text-align: justify;
}

p, ul li, ol li {
	font-size: 18px;
}
p #fun {
	color: green;
	font-weight: bold;
}

p strong span {
	color: blue;
}

#bel-image {
	margin: 210px 10px;
	float: right;
}

.desc {
  height: 300px;
}

h4 {
	color: purple;
	font-weight: bold;
}

.img {
	background-color: #6D6F6E;
}
