.h1 {
	text-shadow: 0 5px 5px rgb(11, 101, 117);
	color: rgba(17, 4, 49, 0.897);
}

.panel {
	background: url("../img/background4.jpg");
	opacity: 0.9;
	padding: 7px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

.panel:hover {
	box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

p {
	font-family: optima;
	color: #0B091E;
	text-align: justify;
}

p, ul li, ol li {
	font-size: 18px;
}

p #fun {
	color: green;
	font-weight: bold;
	text-shadow: 0 5px 5px rgb(11, 101, 117);
}

p strong span {
	color: blue;
}

#bel-image {
	float: right;
	padding: 20px 20px 20px 15px;
	
}

.desc {
  height: 330px;
}

h4 {
	color: rgba(17, 4, 49, 0.897);
	text-shadow: 0 2px 2px rgb(11, 101, 117);
	font-weight: bold;
	font-size: 20px;
}

h5 {
	color: rgba(48, 8, 151, 0.897);
	font-size: 19px;
}
.img {
	background-color: #6D6F6E;
}
